<div class="container-fluid" id="outer-container">
  <div class="container">
    <div class="card text-start">
      <div class="card-header">
        <h1>About Us</h1>
      </div>
      <div class="card-body">
        <p>
          Welcome to Food Harbor, where we believe in the power of food to bring
          communities together and make a difference in people's lives. Our
          mission is simple: to reduce food waste and fight hunger by connecting
          those with surplus food to those in need. At Food Harbor, we
          understand that food insecurity is a pressing issue affecting millions
          worldwide. That's why we've created a platform that allows
          individuals, restaurants, and businesses to easily donate excess food
          to local charities and organizations serving those facing hunger. With
          a user-friendly interface and seamless integration, we make it
          convenient for donors to make a meaningful impact with just a few taps
          on their smartphones. Whether it's leftover meals from events, unsold
          produce from grocery stores, or surplus inventory from restaurants,
          every donation counts in our efforts to combat food insecurity and
          build stronger, more resilient communities. Join us in our mission to
          create a world where no one goes hungry. Together, we can make a
          difference, one meal at a time.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" id="types-container">
  <div class="center-text">
    <h1>There are two types of users</h1>
  </div>
</div>
<div class="container-fluid" id="user-container">
  <div class="row">
    <div class="col-md-6">
      <div class="container" id="user-inner-container">
        <div class="card">
          <div class="card-header text-center">
            <h1>Patron</h1>
          </div>
          <div class="card-body">
            <p>
              You're a compassionate individual who believes in the power of
              giving back to your community. Whether you're a homeowner, a
              restaurant owner, or a business manager, you understand the
              importance of reducing food waste and helping those in need. You
              care deeply about making a positive impact on the lives of others,
              and you're eager to find practical ways to contribute to the fight
              against hunger. With your busy lifestyle, you appreciate
              simplicity and convenience, which is why you're drawn to Food
              harbor. You see food donation not just as a charitable act, but as
              a way to foster connection and support those facing food
              insecurity. By using Food harbor, you're not only reducing waste
              but also making a tangible difference in the lives of individuals
              and families in your community. Thank you for your generosity and
              commitment to making the world a better place through food
              donation. Your contributions truly make a difference.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="container" id="user-inner-container">
        <div class="card">
          <div class="card-header text-center">
            <h1>Organisation</h1>
          </div>
          <div class="card-body">
            <p>
              Your organization is a dedicated group of individuals working
              tirelessly to combat food insecurity in your community. Whether
              you're a local charity, a soup kitchen, or a nonprofit
              organization, your mission is clear: to ensure that no one in your
              community goes hungry. You understand the challenges that many
              individuals and families face when it comes to accessing
              nutritious meals, and you're committed to providing support and
              resources to those in need. Your organization operates with
              compassion, empathy, and a strong sense of community. Through Food
              Harbor, you welcome food donations from individuals, businesses,
              and restaurants, knowing that every contribution plays a vital
              role in your efforts to feed the hungry. You strive to create a
              welcoming and inclusive environment where everyone feels valued
              and supported. By accepting donations through Food harbor, you're
              able to streamline your operations, reduce food waste, and reach
              more people in need. You're grateful for the generosity of donors
              and the opportunity to make a meaningful impact on the lives of
              those you serve. Thank you for your dedication to fighting hunger
              and for being a valuable partner in our mission to create a world
              where everyone has access to nutritious food.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
