<div class="container">
    <div class="tabs">
      <div class="tab-container">
        <div class="donate-class">
          <p-button label="DONATIONS" class="donate"></p-button>
        </div>
        <div class="Chat-class">
          <p-button label="CHAT" class="chat"></p-button>
        </div>
      </div>
    </div>
    <app-donate-card [title]="'Donation1'"></app-donate-card>
    <app-donate-card [title]="'Donation2'"></app-donate-card>
    <app-donate-form [visible]="showdialogbox"></app-donate-form>
    <div class="">
      <p-button label="+" class="add-button" (onClick)="showDialog()"></p-button>
    </div>
  </div>