.top-bar {
  background-color: rgb(37, 65, 81);
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin: 0;
  align-items: center;
  width: 100%;
}
.logo {
  display: flex;
  justify-content: center;
  padding-left: 30px;
  margin: 0px;
  padding: 20px;
}
.logo-title {
  margin: 20px;
  font-weight: bolder;
  font-size: 30px;
}
.logo-img {
  padding-right: 20px;
  padding-left: 10px;
}
.logo-title:hover {
  color: rgb(213, 83, 66);
}
.tab-container {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 25px;
  padding-right: 40px;
}
.tabs {
  padding-right: 40px;
  margin: 0px;
}
.tabs:hover {
  color: rgb(213, 83, 66);
}
h3 {
  padding-right: 30px;
  margin: 0px;
}
h3:hover {
  color: rgb(213, 83, 66);
}
.login {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px;
}
.logo-title {
  margin: 0px;
  font-weight: bolder;
}
:host ::ng-deep .p-menubar {
  background-color: rgb(37, 65, 81);
  color: white;
  justify-content: center;
  flex-wrap: wrap;
}
:host ::ng-deep .p-menubar .p-menuitem-link {
  color: white;
  padding: 0px 20px;
}
:host ::ng-deep .p-menubar .p-menuitem-link:hover {
  color: rgb(213, 83, 66);
}
