<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h2>User1 donated to No Waste Organisation!</h2>
            <div class="details" *ngIf="showDetails">
                Food Type: Vegetables
                <br />
                Quantity: 10kg
            </div>
            <div class="card-footer">
                <button class="btn" (click)="show()">
                    {{ showDetails ? "Show less" : "Show more" }}
                </button>
                <h5>15:04 24/02/2023</h5>
            </div>
        </div>
    </div>
</div>