.card-header {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  border-color: transparent;
  align-items: center;
  justify-content: space-between;
}
.card-footer {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  border-color: transparent;
  align-items: center;
  justify-content: space-between;
}
h3 {
  padding-top: 10px;
  padding-right: 10px;
  margin: 0;
}
h5 {
  margin: 0;
}
.card {
  width: 100%;
  background-color: white;
  margin: 10px;
  padding: 10px;
  border-width: 2px;
  border-color: rgb(0, 31, 28);
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
}
.col-md-3 {
  padding: 0;
}
.col-md-9 {
  padding: 0;
}
.donationImg {
  height: 316px;
  width: 628px;
}
.btn {
  background-color: transparent;
  color: rgb(0, 31, 28);
  padding: 10px;
  border-radius: 10px;
}
