.card-header {
  background-color: hsl(210, 17%, 98%);
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #dee2e6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h3 {
  margin: 0;
}
h5 {
  margin: 0;
}
.card {
  width: 100%;
  background-color: white;
  margin: 10px;
}
:host ::ng-deep .view-details .p-button {
  background-color: transparent;
  border-radius: 10px;
  color: rgb(0, 31, 28);
  font-size: 15px;
  margin: 5px;
}
:host ::ng-deep .view-details .p-button:hover {
  background-color: rgb(0, 31, 28);
  border: 0px;
  color: white;
}
:host ::ng-deep .view-details .p-button-label {
  padding: 5px;
}
