
<div class="card">
  <div class="row">
    <div class="col-md-3">
      <img
        src="https://via.placeholder.com/20"
        alt="Card image cap"
        width="100%"
        class="img"
      />
    </div>
    <div class="col-md-9">
      <div class="card-header">
        <h3>{{ title }}</h3>
        <h5>Progress:{{ progress }}</h5>
      </div>
      <div class="card-body">
        <p class="card-text">
          <i class="bi bi-egg-fill"></i> {{ description }}
        </p>
        <p class="card-text">
          <i class="bi bi-basket-fill"></i> {{ Quantity }}
        </p>
        <p class="card-text">
          <i class="bi bi-calendar2-check-fill"></i> {{ pickup }}
        </p>
        <p class="card-text">
          <i class="bi bi-clock-fill"></i> {{ pickuptime }}
        </p>
        <p class="card-text">
          <i class="bi bi-calendar-minus-fill"></i> {{ expiry }}
        </p>
        <p class="card-text">
          <i class="bi bi-text-paragraph"></i> {{ special }}
        </p>
        <div class="accepted" *ngIf="showMore">
          <h4>The organisations who wants your donation</h4>
          <p class="card-text">
            <i class="bi bi-person-fill"></i> {{ acceptedBy[0].organisation}}
          </p>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn" (click)="show()">
          {{ showMore ? "Show less" : "Show more" }}
        </button>
      </div>
    </div>
  </div>
</div>

