<div class="container-fluid">
  <!-- <p-image src="assets/images/bkg-img.jpg" width="1475" height="700"></p-image> -->
  <div class="position-relative">
    <img src="assets/images/bkg-img.jpg" class="img-fluid" alt="lol" />
    <div class="text-overlay">
      <h3>END HUNGER!</h3>
      <p>
        Millions of families go hungry every year,Help us provide them with
        enough to eat.
      </p>
    </div>
    <div class="overlay-container">
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header">
              <h3>OUR MISSION</h3>
              <div class="card-body">
                <p>
                  Our mission is to reduce food waste and alleviate hunger by
                  connecting surplus food with those in need through our
                  innovative donation app. We strive to create a more
                  sustainable and equitable food system by empowering
                  individuals and businesses to easily donate excess food to
                  local charities and community organizations. Together, we can
                  make a difference in the lives of those facing food
                  insecurity. Join us in our mission to build a world where no
                  one goes hungry.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-header">
              <h3>TAKE A PLEDGE!</h3>
              <div class="card-body">
                <p-button label="LOGIN"></p-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-5">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h2>ABOUT US</h2>
      </div>
      <div class="card-body">
        <p>
          At FOOD HARBOR, we are passionate about fighting food waste and hunger
          in our communities. Our team is dedicated to creating a platform that
          makes it easy for individuals and businesses to donate surplus food to
          those in need. With a commitment to sustainability and social
          responsibility, we aim to build a community where everyone has access
          to nutritious food and where no edible food goes to waste. Join us in
          making a positive impact and helping to create a world where hunger is
          a thing of the past.
        </p>
      </div>
    </div>
  </div>
</div>
