<div class="container">
  <p-image src="assets/images/bkg-img.jpg" width="1475" height="700"></p-image>
  <div class="text-overlay">
    <h3>END HUNGER!</h3>
    <p>Millions of families go hungry every year,Help us provide them with enough to eat.</p>
  </div>
</div>
<!-- <div class="">
      <p-card>
        
           I'm a paragraph. Click here to add your own text and edit me. It's easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you.
      </p-card>
      <p-card>
        <h3>TAKE  A </h3>
        <h3>PLEDGE!</h3>
        <p-button label="LOGIN"></p-button>
      </p-card>
    </div> -->
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p-card class="mission">
        <ng-template pTemplate="header">
          OUR MISSION
        </ng-template>
        <ng-template pTemplate="content">
          <p>Our mission is to reduce food waste and alleviate hunger by connecting surplus food with those in need
            through our innovative donation app.
            We strive to create a more sustainable and equitable food system by empowering individuals and businesses to
            easily donate excess food to local charities and community organizations.
            Together, we can make a difference in the lives of those facing food insecurity.
            Join us in our mission to build a world where no one goes hungry.</p>
        </ng-template>
      </p-card>
    </div>
    <div class="col-md-6">
      <p-card class="pledge">
        <ng-template pTemplate="header">
          <p>TAKE</p>
          <P> A PLEDGE!</P>
        </ng-template>
        <ng-template pTemplate="content">
          <p>join us in our mission to build a world where no one goes hungry</p>
          <p-button label="LOGIN"></p-button>
        </ng-template>
      </p-card>
    </div>
  </div>
</div>
<p-card class="about">
  <ng-template pTemplate="header">
    ABOUT US
  </ng-template>
  <ng-template pTemplate="content">
    <p>At FOOD HARBOR, we are passionate about fighting food waste and hunger in our communities.
      Our team is dedicated to creating a platform that makes it easy for individuals and businesses to donate surplus
      food to those in need.
      With a commitment to sustainability and social responsibility, we aim to build a community where everyone has
      access to nutritious food and where no edible food goes to waste.
      Join us in making a positive impact and helping to create a world where hunger is a thing of the past.</p>
  </ng-template>
</p-card>