.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .background-image {
    background-size:auto;
    background-position: center;
    position: relative;
    width: 900%;
    height: 100%; 
  }
  .p-image{
    display: flex;
    flex-wrap: wrap;
  }  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:black;
    text-align: center;
  }
  
  .text-overlay h3 {
    font-size: 4em;
    font-weight: bold;
    line-height: 0.8em;
    text-align: center;
    font-size: 79px;
}
  
  .text-overlay p{
    font-size: 1.5em;
    font-family: sans-serif;
    color:black;
  }
  /* .box1 {
    background-color: rgb( 234,234,232 );
    align-items: center;
    text-align: center;
  }
  .box1 h3{
    font-style: normal normal normal 32px/1.4em lulo-clean-w01-one-bold,lulo-clean-w05-one-bold,sans-serif;;
    color: blue;
    letter-spacing:0.0em;
    font-size: 2em;
  }
  .box2{
    background-color: #FFB993;
    align-items: center;
    text-align: center;
  }
  .box2 h3{
    font-family: normal normal normal 32px/1.4em lulo-clean-w01-one-bold,lulo-clean-w05-one-bold,sans-serif;
    font-size: 2em;
    color:white;
  } */

 :host ::ng-deep .mission .p-card{
    padding:30px;
    background-color: rgb( 234,234,232 );
    width: 700px;
  }
  :host ::ng-deep .mission .p-card-header{
    font-style: normal normal normal 32px/1.4em lulo-clean-w01-one-bold,lulo-clean-w05-one-bold,sans-serif;
    color: black;
    letter-spacing:0.0em;
    font-size: 2em;
    text-align: center;
    background-position: center;
    font-weight: bold;

  }
 :host ::ng-deep .mission .p-card-content{
    padding:30px;
    font-size:1.3em;
  } 

  
  :host ::ng-deep .pledge .p-card{
    padding:30px;
    background-color:#FFB993 ;
    width: 650px;
    height: 434px;
  }
  :host ::ng-deep .pledge .p-card-header{
    font-style: sans-serif;;
    color: black;
    letter-spacing:0.0em;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    line-height: 1;
  }
  :host ::ng-deep .pledge .p-card-content{
    align-content: center;
    padding:50px; 
    display: flex;
    justify-content: center;
    align-items: center;

  :host ::ng-deep .pledge .p-card-content p-button{
    padding:70px;


  }

/* <p-button-icon="text-align: center;">Centered Button</p-button-icon>

<button class="center">Centered Button</button> */
/* <button class="centered-button">Button Text</button> */


  }

  :host ::ng-deep .about .p-card{
    padding:30px;
    background-color: rgb( 69,178,157 );
    width: 150+0px;
  }
  :host ::ng-deep .about .p-card-header{
    font-style:sans-serif;;
    color: rgb(20, 3, 3);
    letter-spacing:0.0em;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
  }
 :host ::ng-deep .about .p-card-content{
    padding:30px;
    font-size:1.5em;
    padding:20px;
  } 
  