.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-fluid {
  width: 2000px;
  height: 900px;
}

.text-overlay {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  text-align: center;
}

.text-overlay h3 {
  font-size: 4em;
  font-weight: bold;
  line-height: 0.8em;
  text-align: center;
  font-size: 79px;
}

.text-overlay p {
  font-size: 1.5em;
  font-family: sans-serif;
  color: black;
}

.card {
  padding: 20px;
  background-color: rgb(234, 234, 232);
}
.card-header {
  font-style: normal normal normal 32px/1.4em lulo-clean-w01-one-bold,
    lulo-clean-w05-one-bold, sans-serif;
  color: black;
  letter-spacing: 0em;
  text-align: center;
  background-position: center;
  font-weight: bold;
  background-color: transparent;
  border: none;
}
.card-body {
  padding: 20px;
  text-align: center;
}
.overlay-container {
  position: absolute;
  top: 95%;
  left: 40%;
  transform: translate(-40%, -40%);
  width: 80%;
}

.col-md-8 {
  padding: 0px;
}
.col-md-4 {
  padding: 0px;
}
.our-mission {
  background-color: rgb(234, 234, 232);
  min-height: 40vh;
  height: 100%;
}
.pledge {
  background-color: #ffb993;
  min-height: 40vh;
  height: 100%;
}
.about-us {
  background-color: rgb(69, 178, 157);
  min-height: 30vh;
  height: 100%;
}
.btn {
  background-color: #ffb993;
  color: black;
  font-size: 1.5em;
}
.about-uss {
  margin-top: 18rem !important;
}
