<div class="con">
    <div class="d-flex">
      <button class="toggle-btn" type="button" (click)="sideBarToggler()">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-grid"
          viewBox="0 0 16 16">
          <path
            d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5z" />
        </svg>
      </button>
    </div>
    <div class="title">
      <!-- <p-image src="../../assets/images/logo.jpg" class="img"></p-image> -->
      <img [ngClass]="'logo-img'" [src]="logo" routerLink="/menu/home" />
      <h2 routerLink="/menu/home">FOOD HARBOR</h2>
    </div>
    <div class="d-flex">
      <p></p>
    </div>
  </div>
  
  <div class="profile-content">
    <aside id="sidebar" [class.expand]="sideBarOpen">
      <ul class="sidebar-nav">
        <li class="sidebaritem" routerLink="profile/myprofile">
          <a class="sidebar-link">
            <span>My profile</span>
          </a>
        </li>
        <li class="sidebaritem" routerLink="profile/history">
          <a class="sidebar-link">
            <span>Donation History</span>
          </a>
        </li>
        <li class="sidebaritem">
          <a class="sidebar-link" routerLink="profile/credits">
            <span>Credits History</span>
          </a>
        </li>
      </ul>
      <div class="sidebar-footer">
        <a (click)="signOut()" class="sidebar-link">
          <span>Logout</span>
        </a>
      </div>
    </aside>
  </div>