<!-- <div [ngClass]="'footer'">
    <div [ngClass]="'block'">
        <h1>
            Contact us
        </h1>
        <p> 500 Terry Francine Street</p>
        <p>San Francisco, CA 94158</p>
        <p>info&#64;mysite.com</p>
    </div>
    <div [ngClass]="'block'">
        <h1>
            Connect with us
        </h1>
         <p>Instagram</p>
        <p>Facebook</p>
        <p>Twitter</p>
    </div>
    <div [ngClass]="'block'">
        <h1>Subscribe</h1>
    </div>
</div> -->

<div class="container flex-container d-flex flex-row flex-wrap">
  <p-card title="Contact Us">
    <div class="block">
      <h1>Contact us</h1>
      <p>500 Terry Francine Street</p>
      <p>San Francisco, CA 94158</p>
      <p>info&#64;mysite.com</p>
    </div>
  </p-card>
  <p-card title="Connect with us">
    <div class="block">
      <h1>Connect with us</h1>
      <p>Instagram</p>
      <p>Facebook</p>
      <p>Twitter</p>
    </div>
  </p-card>
  <p-card title="Subscribe">
    <div class="block">
      <h1>Subscribe</h1>
    </div>
  </p-card>
</div>
