.footer {
  display: flex;
  justify-content: center;
  background-color: rgb(234, 234, 232);
}
.block {
  padding: 30px;
}
p {
  font-size: 14px;
  font-weight: lighter;
}
.d-flex {
  justify-content: center;
}
.container{
  background-color: rgb(234, 234, 232) ;
  max-width:none;
}
