<!-- <div [ngClass]="'footer'">
    <div [ngClass]="'block'">
        <h1>
            Contact us
        </h1>
        <p> 500 Terry Francine Street</p>
        <p>San Francisco, CA 94158</p>
        <p>info&#64;mysite.com</p>
    </div>
    <div [ngClass]="'block'">
        <h1>
            Connect with us
        </h1>
         <p>Instagram</p>
        <p>Facebook</p>
        <p>Twitter</p>
    </div>
    <div [ngClass]="'block'">
        <h1>Subscribe</h1>
    </div>
</div> -->
<div class="container d-flex flex-wrap">
  <div class="block">
    <h2>Contact us</h2>
    <p>
      500 Terry Francine Street<br />
      San Francisco, CA 94158<br />
      info@mysite.com
    </p>
  </div>
  <div class="block">
    <h2>Connect with us</h2>
    <p>Instagram</p>
    <p>Facebook</p>
    <p>Twitter</p>
  </div>
  <div class="block">
    <h2>Subscribe</h2>
  </div>
</div>
